<li class="subcategory_<%= content.subcategory_id %>">
	<%= link_to content.japanese, reflect_content_path(content), remote: true %>
<!--   <%= content.english %></br><%= content.japanese %>
 --></li>