<li class="category_<%= subcategory.category_id %>">
  <button type="button" class="btn btn-default navbar-btn-top" ><%= subcategory.title %></button>
  <ul class="compose"><%= render subcategory.contents %></ul>
</li>