<!-- views/mails/index.html.erbで呼び出されている -->
<li class="category_<%= subcategory.category_id %>">
	<!-- <%= subcategory.title %>でsubcategoryの中の各データが持つtitleを表示するようにしている -->
  <button type="button" class="btn btn-info"><%= subcategory.title %></button >
  <ul class="compose_1"><%= render subcategory.contents %></ul>
</li>