<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav-top">
        	<!-- viewに書かれたrenderはパーシャルを呼び出す。ここでは、パスを指定して呼び出すのではなく、オブジェクトを指定して呼び出している。 -->
          <%= render @subcategories %>
        </ul>
      </nav>
    </div>
  </div>
</div>

