<div class="header"><%= render 'layouts/header' %></div>
<div class="sidebar"><%= render 'layouts/sidebar' %></div>
<div class="category">
  <ul class="nav-top">
  	<!-- viewに書かれたrenderはパーシャルを呼び出す。ここでは、パスを指定して呼び出すのではなく、オブジェクトを指定して呼び出している。 -->
    <%= render @subcategories %>
  </ul>
</div>
<div class='text_area_box'><%= text_area :page, :content, :size => "63x30"%></div>
