<div class="header"><%= render 'layouts/header' %></div>
<div class="sidebar"><%= render 'layouts/sidebar' %></div>
<div class="category">
  <ul class="nav-top">
  	<div class="big_category">
  		<button type="button" class="btn btn-default">大分類再表示</button>
  	</div>
  	<!-- viewに書かれたrenderはパーシャルを呼び出す。ここでは、パスを指定して呼び出すのではなく、オブジェクトを指定して呼び出している。 -->
    <%= render @subcategories %>
  </ul>
</div>
<%= render "storages/form", storage: @storage %>
