<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav-top">
          <%= render @subcategories %>
        </ul>
      </nav>
    </div>
  </div>
</div>

