.nav-top li
{
  float: left;
  list-style: none ;
  margin : 10px ;
  padding: 20px
}

.button-left li
{
  width: 70px;
  height: auto;
	clear: both;
	list-style: none;
	margin: 10px;
	margin-top: 70px;
}
//   > の記号は、親要素の直接の子要素に適用されるセレクタで、孫要素以下を対象から外す。
ul.nav-top > li 
{
  display : none ;
  clear :both;
  float: left;
}

.compose_1
{
  display : none;
  float: none;
}

.compose_2
{
  display: none;
}
.editor
{
  margin-left: 300px;
}
.header .sidebar
{
  // float: left;
}
.text_area_box
{
  width: 30%;
  height: 20%;
  margin: auto;
  // margin-top: 60px;
  padding-top: 10px;
}
.compose li
{
  float: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}