.nav-top li
{
  float: left;
  list-style: none ;
  margin : 10px ;
  padding: 20px
}

.nav-left li
{
	clear: both;
	list-style: none;
	margin: 10px;
	margin-top: 70px;
}

//   > の記号は、親要素の直接の子要素に適用されるセレクタで、孫要素以下を対象から外す。
ul.nav-top > li 
{
  display : none ;
}

.compose
{
  display : none ;
}

.compose li
{

}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}