/* 
================================= */

.navbar-right {
float: right!important;
margin-right: 200px;
}

.navbar-brand {
margin-left: 0px;
}

.collapse 
{
  display: none;
  visibility: hidden;
}

.mail_category_1 > :not(.category_1)
{
  display: none;
}

.mail_category_2 > :not(.category_2)
{
  display: none;
}

.mail_category_3 > :not(.category_3)
{
  display: none;
}
.mail_category_4 > :not(.category_4)
{
  display: none;
}
 
.navbar-static-side
{
  background-color: #404040;
}

.jumbotron
{
  text-align: center;
  background-image: url(/images/6H.jpg);
  background-size: cover;
  h1
  {
    margin-bottom: 20px;
  }
}

.page-header
{
  text-align: center;
  font-weight: bold;
  h2
  {
    margin-bottom: 0.1em;
  }
  .subtitle
  {
    font-weight: normal;
  }
}

.page-header2
{
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 30px;
  h2
  {
    margin-bottom: 0.1em;
  }
  p
  {
    padding-top: 30px;
    margin-bottom: 0.1em;
  }
  .subtitle
  {
    font-weight: normal;
  }
}

.nav-top li
{
  list-style: none ;
  margin : 10px ;
  padding: 20px
}

.clear 
{
  clear:both;
}

.button-left li
{
  width: 70px;
  height: auto;
  clear: both;
  list-style: none;
  margin: 10px;
  margin-top: 70px;
}

//   > の記号は、親要素の直接の子要素に適用されるセレクタで、孫要素以下を対象から外す。
ul.nav-top > li 
{
  display : none ;
  clear :both;
  float: left;
}

.compose_1
{
  display : none;
  float: none;
}

.compose_2
{
  display: none;
}

.editor
{
  margin-left: 300px;
}

.sidebar
{
  float: left;
  width: 14%;
}

.category {
  float:left;
  width: 20%;
}

.text_area_box
{
  // float: right;
  width: 100% !important;
  height: 300px;
  // margin: auto;
  // margin-top: 30px;
  // padding-top: 10px;
}

.compose li
{
  float: none;
}

.top-page1 li
{
  list-style: none;
}

#temp
{
  float: right; 
}


.footer 
{
  background-color: #223134;
  color: #fff;
}

footer {
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  margin-left: 10px;
}

.new_storage
{
  height: 300px;
}



