<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p>Shinoe &amp; Iwai</p>
				<small>Supported by <%= link_to "Progate", 'http://prog-8.com/' %></small>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<h4>SUPPORT</h4>
				<p><%= link_to "Contact", '#' %></p>
				<p>FAQ</p>
				<p>Terms of Use</p>
				<p>Privacy Policy</p>
			</div>
			<hr>
			<p>&copy; 2014 歌舞伎妖精</p>
		</div>
	</div>
</div>
