<footer class="footer">
  <small>
    <p>Shinoe&Iwai</p>
    Supported by Progate
  </small>
  <div class="footer-nav">
     <ul>
        <li><%= link_to "Contact", '#' %></li>
     </ul>
  </div>
</footer>