<!-- starts footer -->
<footer id="footer">
    <div class="container">
        <div class="row sections">
            <div class="col-sm-4 recent_posts">
                <h3 class="footer_header">
                    お問い合わせ
                </h3>
                <div class="post">
                </div>
                <div class="remodal" data-remodal-id="modal">
                    サンプル
                    <br>
                    <a class="remodal-cancel" href="#">Close</a>
                </div>
                <a type="button" class="btn btn-primary" href="#modal">
                    <h5>お問い合わせフォーム</h5>
                </a>
            </div>
            <div class="col-sm-4 recent_posts">
                <h3 class="footer_header">             
                </h3>
                <div class="post">
                </div>
            </div>
            <div class="col-sm-4">
                <h4>SUPPORT</h4>
				<p><%= link_to "Contact", '#' %></p>
				<p>FAQ</p>
				<p>Terms of Use</p>
				<p>Privacy Policy</p>
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                <div class="row copyright">
                    <div class="col-md-12">
                        &copy; 2015 Lang Block
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>
<%= javascript_include_tag "jquery.remodal.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-latest.js" %>