<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        	<nav>
            <ul class="nav-top">
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">件名</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">飛込営業挨拶</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">新規顧客挨拶</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">初メール以外の挨拶</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">返信の際の挨拶</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">件名</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">飛込営業挨拶</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">新規顧客挨拶</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">初メール以外の挨拶</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">返信の際の挨拶</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">件名</button>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn-top">飛込営業挨拶</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  </header>

