<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        	<nav>
            <ul class="nav-top">
              <li class="category_1">
                <button type="button" class="btn btn-default navbar-btn-top">件名</button>
              </li>
              <li class="category_1">
                <button type="button" class="btn btn-default navbar-btn-top">宛名</button>
              </li>
              <li class="category_1">
                <button type="button" class="btn btn-default navbar-btn-top">既存顧客への挨拶</button>
              </li>
              <li class="category_1">
                <button type="button" class="btn btn-default navbar-btn-top">感謝(書き出し)</button>
              </li>
              <li class="category_1">
                <button type="button" class="btn btn-default navbar-btn-top">返信の際の挨拶</button>
              </li>
              <li class="category_1">
                <button type="button" class="btn btn-default navbar-btn-top">謝罪(書き出し)</button>
              </li>
              <li class="category_2">
                <button type="button" class="btn btn-default navbar-btn-top">自己紹介</button>
              </li>
              <li class="category_2">
                <button type="button" class="btn btn-default navbar-btn-top">会議開催の連絡</button>
              </li>
              <li class="category_2">
                <button type="button" class="btn btn-default navbar-btn-top">商品売込</button>
              </li>
              <li class="category_2">
                <button type="button" class="btn btn-default navbar-btn-top">価格割引の提示と拒絶</button>
              </li>
              <li class="category_2">
                <button type="button" class="btn btn-default navbar-btn-top">値引交渉</button>
              </li>
              <li class="category_3">
                <button type="button" class="btn btn-default navbar-btn-top">結びの挨拶</button>
              </li>
              <li class="category_3">
                <button type="button" class="btn btn-default navbar-btn-top">感謝(結び)</button>
              </li>
              <li class="category_3">
                <button type="button" class="btn btn-default navbar-btn-top">再度連絡の伝達</button>
              </li>
              <li class="category_3">
                <button type="button" class="btn btn-default navbar-btn-top">返信のお願い</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  </header>

