<sidebar class="navbar navbar-fixed-left navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <nav>
          <ul class="nav-left">
            <%= yield :sidebar %> 
            <li>
              <button type="button" class="btn btn-default navbar-btn">大分類１</button>
            </li>
            <li>
              <button type="button" class="btn btn-default navbar-btn">大分類２</button>
            </li>
            <li>
              <button type="button" class="btn btn-default navbar-btn">大分類３</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
 </sidebar>


