<sidebar class="navbar navbar-fixed-left navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <nav>
          <ul class="nav-left">
            <%= yield :sidebar %> 
            <li class="big_category_1">
              <button type="button" class="btn btn-default navbar-btn">文頭表現集</br>(件名や宛名含む)</button>
            </li>
            <li class="big_category_2">
              <button type="button" class="btn btn-default navbar-btn">文中表現集</button>
            </li>
            <li class="big_category_3">
              <button type="button" class="btn btn-default navbar-btn">文末表現集</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
 </sidebar>


