<sidebar class="btn-group-vertical">
  <ul class="button-left">
    <%= yield :sidebar %> 
    <li class="big_category_1">
      <button type="button" class="btn btn-primary btn-lg">文頭表現集</br>(件名や宛名含む)</button>
    </li>
    <li class="big_category_2">
      <button type="button" class="btn btn-primary btn-lg">文中表現集</button>
    </li>
    <li class="big_category_3">
      <button type="button" class="btn btn-primary btn-lg">文末表現集</button>
    </li>
  </ul>
</sidebar>